/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #fff;
  --text-color: #000;
  --light-gray: #aaa;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
